<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611969148855-nrqdaqv0jjqev2no4r0jga4jkrsivqr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611969148855-nrqdaqv0jjqev2no4r0jga4jkrsivqr9</string>
	<key>API_KEY</key>
	<string>AIzaSyCxBy3AQ3cDm6kVzCSVEzivqkV9gllajDo</string>
	<key>GCM_SENDER_ID</key>
	<string>611969148855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasiththathsara.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-9259f</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-9259f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611969148855:ios:710be760eb33c0bc</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-9259f.firebaseio.com</string>
</dict>
</plist>